*, html {
    margin: 0;
    padding: 0;
}

.error-message {
    color: rgb(255, 38, 0);
    font-size: 0.8em;
}

.image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    display: none;
}

body {
    background-color: #D0E7D2;
}
h1, p {
    text-align: center;
    font-weight: bolder;
    margin: 15px;
}
h1 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
figure {
    text-align: center;
    margin: 10px;
}
figcaption {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
}
li {
    margin-left: 7px;
    font-weight: 600;
    font-family: 'segoe UI';
}
.nav {
    overflow: hidden;
    padding: 20px 10px;

    background-color: #FFFADD;
}
.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    list-style-type: none;
    border-radius: 5px;
}

 .page-title {
    font-family: 'Segoe UI';
    font-weight: bolder;
}

.nav-right {
    border-style: solid;
    float: right;
} */

/* .nav-right {
    text-align: right;
    float: right;
}
.nav-item {
    border-style: outset;
    border-color: rgb(172, 245, 13);
    border-radius: 7px;
    text-decoration: none;
} */
.content-title {
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.content-right {
    float: right;
}

.content-left {
    float: left;
    
} 

#konten {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

article {
    flex: 1;
}

label {
    font-family: 'Segoe UI';
}
@media screen and (max-width: 767px) {
    .content {
        flex-direction: column;
    }
    .content-left {
        width: 100%;
    }
    .content-right {
        width: 100%;
    }
    .nav {
        display: none !important; 
    }
    main{
        flex-flow: column nowrap;
    }
    main aside{
        align-self: center;
    }
}

.active {
    display: block;
}

input {
    margin-top: 5px;
}
.button {
    margin-top: 15px;
    color: white;
    background-color: #000000;
    font-size: 600;
    font-family: 'segoe ui';
    border-radius: 5px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
}